@model IEnumerable<Ridewithme.Models.Ride>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<hr />

<div id="SearchInfo" class="alert alert-info alert-dismissible collapse">

    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

    <label id="info">  </label>

</div>

@foreach (var item in Model)
{
    <div class="card text-lg-center">

        <div class="card-header">
            [Ride @Html.DisplayFor(modelItem => item.Type) From @Html.DisplayFor(modelItem => item.UserName)] <br />
            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Origin) to @Html.DisplayFor(modelItem => item.Destination) </h5>
        </div>

        <div class="card-body">

            <label> Ride Schedule : </label> @Html.DisplayFor(modelItem => item.Schedule) (@Html.DisplayFor(modelItem => item.Occurance)) <br />

            <lable> Vehicle : </lable> @Html.DisplayFor(modelItem => item.Color) @Html.DisplayFor(modelItem => item.Model) (@Html.DisplayFor(modelItem => item.VehicleType)) <br /> <br />

            <label> Air Conditioned : </label> @Html.DisplayFor(modelItem => item.AirConditioned) <br />

            <label> Available Seats : </label> @Html.DisplayFor(modelItem => item.AvailableSeats) <br />

            <label> Passenger Contribution : </label> @Html.DisplayFor(modelItem => item.Contribution) <br />

            <label> Message : </label> @Html.DisplayFor(modelItem => item.Message) <br />

            @if (item.IsNonSmoking != false)
            {
                <label class="text-danger"> Non Smoking Passengers Only </label>

            }

            <br />

            @if (item.IsMaleOnly != false)
            {
                <label class="text-info"> Male Passengers Only </label>

            }

            @if (item.IsFemaleOnly != false)
            {
                <label class="text-info"> Female Passengers Only </label>

            }

            <br />



            @if (@item.UserName == User.Identity.GetUserName())
            {

                <a href="@Url.Action("Edit", "Rides", new { id = item.RideID, user = User.Identity.GetUserName() })" class="btn btn-outline-warning"> Edit </a>

                <a href="@Url.Action("Delete", "Rides", new { id = item.RideID })" class="btn btn-outline-danger"> Delete </a>
            }

            @if (@item.UserName != User.Identity.GetUserName())
            {
                @*<a href="tel:@Html.DisplayFor(modelItem => item.ContactNumber)" class="btn btn-outline-success">Contact</a>*@

                <a href="@Url.Action("Create", "RideReservations", new {UserID = User.Identity.GetUserId(), RideID = item.RideID})" class="btn btn-outline-primary"> Reserve </a>

            }


        </div>


        <div class="card-footer text-muted">
            <img src="@Url.Action("PhotoByName", "Account" , new { UserName = @item.UserName })" class="rounded-circle z-depth-0" height="30">  Posted :  @Html.DisplayFor(modelItem => item.DateAdded)
        </div>

    </div>

    <br />

}


<script type="text/javascript">
    window.onload = function () {
        $('#SearchInfo').show('fade');
        document.getElementById('info').innerHTML = "If you cannot find a ride, try broadening your search locations to get more results!!";
    };
</script>